*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Montserrat;
}

body{

background:linear-gradient(135deg,#7a7a7a,#111);

min-height:100vh;

display:flex;
justify-content:center;

padding:40px 20px;

color:white;

}

/* card */

.card{

width:100%;
max-width:420px;

background:linear-gradient(145deg,#77acc8,#5d5d5d);

border-radius:25px;

padding:35px;

text-align:center;

border:1px solid rgba(212,175,55,0.2);

box-shadow:0 20px 50px rgba(0,0,0,0.9);

}

/* profile photo */

.profile-photo{
width:150px;
height:150px;
margin:0 auto 25px auto;
padding:4px;
border-radius:20px;

background:linear-gradient(135deg,#d4af37,#f5e6a6);

box-shadow:0 10px 30px rgba(212,175,55,0.4);

}

.profile-photo img{

width:100%;
height:100%;

border-radius:16px;

object-fit:cover;

display:block;

}

.hero{
position:relative;
width:100%;
height:220px;
margin-bottom:30px;

display:flex;
justify-content:center;
align-items:center;

border-radius:18px;
overflow:hidden;

/* темний дорогий фон */
background:
linear-gradient(145deg,#7c7c7c,#c8c7c7);

/* золотий кант */
border:2px solid rgba(55, 204, 212, 0.6);

/* 3D тінь */
box-shadow:
0 20px 40px rgba(111, 111, 111, 0.8),
0 0 20px rgba(212,175,55,0.25);

/* легкий нахил як картка */
transform:perspective(1000px) rotateX(3deg);
}

/* glass overlay */

.hero::after{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(to bottom, rgba(0,0,0,0.03), rgba(0,0,0,0.2));
}

/* text */

h1{

font-size:28px;

color:#d4af37;

}

h2{

font-size:18px;

margin-bottom:10px;

font-weight:normal;

}

p{

opacity:0.8;

margin-bottom:25px;

}

/* buttons */

.buttons{

display:flex;
flex-direction:column;

gap:10px;

margin-bottom:20px;

}

.btn{

padding:12px;

border-radius:10px;

text-decoration:none;

color:white;

font-weight:bold;

display:flex;
justify-content:center;
align-items:center;

gap:8px;

transition:0.3s;

}

.btn:hover{

transform:translateY(-3px);

}

.call{background:#444;}
.whatsapp{background:#25D366;}
.telegram{background:#2AABEE;}

/* socials */

.socials{

display:flex;
justify-content:center;

gap:15px;

margin-bottom:30px;

}

.socials a{

width:42px;
height:42px;

display:flex;

align-items:center;
justify-content:center;

border-radius:50%;

font-size:20px;

color:white;

text-decoration:none;

line-height:1;

transition:0.3s;

}

.instagram{
background:linear-gradient(45deg,#f58529,#dd2a7b,#8134af);
}

.facebook{
background:#1877F2;
}

.tiktok{
background:#000;
}

.socials a:hover{

transform:scale(1.2);

box-shadow:0 0 15px rgba(255,255,255,0.4);

}

/* title */

.objects-title{

margin-bottom:15px;

color:#d4af37;

}

/* objects */

.objects{

display:flex;
flex-direction:column;

gap:12px;

/* видно рівно 3 карточки */

height:300px;

overflow-y:auto;

padding-right:6px;

scroll-behavior:smooth;

}

/* card */

.object-card{

display:flex;
height:90px;

background:rgba(255,255,255,0.07);

border-radius:14px;

overflow:hidden;

text-decoration:none;

color:white;

transition:0.3s;

flex-shrink:0;

border:1px solid rgba(255,255,255,0.08);

backdrop-filter:blur(10px);

}

.object-card:hover{

transform:translateY(-5px) scale(1.02);

box-shadow:0 15px 40px rgba(0,0,0,0.6);

}

.object-card img{

width:120px;

height:100px;

object-fit:cover;

}

.object-info{

padding:10px;

text-align:left;

}

.price{

color:#d4af37;

font-weight:bold;

}

/* scrollbar */

.objects::-webkit-scrollbar{
width:6px;
}

.objects::-webkit-scrollbar-thumb{

background:#d4af37;

border-radius:10px;

}

.objects::-webkit-scrollbar-track{

background:rgba(255,255,255,0.05);

}

/* more buttons */

.more-objects{

margin-top:20px;

display:flex;
flex-direction:column;

gap:10px;

}

.more-btn{

padding:13px;

border-radius:12px;

text-decoration:none;

color:white;

font-weight:bold;

display:flex;
justify-content:center;
align-items:center;

gap:8px;

transition:0.3s;

}

.more-btn:hover{

transform:translateY(-3px);

}

.olx{
background:#002f34;
}


.rieltor{

background:#ff7a00;

}
.qr-block{

margin-top:25px;

text-align:center;

}

.qr-block p{

font-size:14px;

opacity:0.7;

margin-bottom:10px;

}

.qr-block img{

width:120px;

border-radius:10px;

border:2px solid rgba(39, 198, 204, 0.3);

}
/* HERO BLOCK */

.hero{
position:relative;
width:100%;
height:220px;
margin-bottom:30px;

display:flex;
justify-content:center;
align-items:center;

border-radius:20px;
overflow:hidden;

background:linear-gradient(145deg,#284853,#6d6d6d);
}

/* фон будинку */

.hero-bg{
position:absolute;
width:100%;
height:100%;

background:url("./images/12.png") center/cover no-repeat;

opacity:0,7;
}

/* рамка фото */

.profile-frame{
position:relative;

width:160px;
height:160px;

padding:2px;

border-radius:10px;

/* золото */
background:linear-gradient(135deg,#37afd4,#f6e27a,#d4af37);

box-shadow:
0 10px 25px rgba(0,0,0,0.8),
0 0 20px rgba(212,175,55,0.5);

overflow:hidden;
}

/* блиск */

.profile-frame::before{

content:"";

position:absolute;

top:-50%;
left:-50%;

width:200%;
height:200%;

background:linear-gradient(
120deg,
transparent 30%,
rgba(255,255,255,0.6),
transparent 70%
);

transform:rotate(25deg);

animation:shine 4s infinite;
}

/* фото */

.profile-frame img{

width:100%;
height:100%;

object-fit:cover;

border-radius:8px;

}

/* анімація */

@keyframes shine{

0%{
transform:translateX(-200%) rotate(25deg);
}

100%{
transform:translateX(200%) rotate(25deg);
}

}

.hero::before{

content:"";

position:absolute;

top:-100%;
left:-100%;

width:300%;
height:300%;

background:linear-gradient(
120deg,
transparent 40%,
rgba(255,255,255,0.15),
transparent 60%
);

transform:rotate(25deg);

animation:cardshine 6s infinite;

}

@keyframes cardshine{

0%{
transform:translateX(-100%) rotate(25deg);
}

100%{
transform:translateX(100%) rotate(25deg);
}

}
/* сторінка об'єкта */

.object-page{

max-width:720px;
margin:auto;

padding:30px 20px;

animation:fadePage 0.8s ease;

}

/* заголовок */

.object-page h1{

margin-bottom:20px;

color:#d4af37;

font-size:26px;

}

/* галерея */

.object-gallery{

overflow-x:auto;

scroll-snap-type:x mandatory;

-webkit-overflow-scrolling:touch;

margin-bottom:25px;

}

.gallery-track{

display:flex;

gap:12px;

}

.gallery-track img{

width:90%;

max-width:500px;

height:280px;

object-fit:cover;

border-radius:16px;

flex-shrink:0;

scroll-snap-align:center;

transition:0.4s;

}

.gallery-track img:hover{

transform:scale(1.03);

}

/* характеристики */

.object-details{

background:rgba(255,255,255,0.06);

padding:18px;

border-radius:14px;

margin-bottom:15px;

backdrop-filter:blur(10px);

}

/* опис */

.object-description{

margin-top:10px;   /* відступ зверху */
margin-bottom:25px;

line-height:1.6;

}


/* кнопки */

.object-buttons{

display:flex;

gap:10px;

flex-wrap:wrap;

}

.btn{

flex:1;

padding:14px;

border-radius:12px;

text-align:center;

text-decoration:none;

font-weight:bold;

transition:0.3s;

}

.call{

background:#27c6cc;

color:white;

}

.back{

background:#333;

color:white;

}

.btn:hover{

transform:translateY(-3px);

box-shadow:0 10px 20px rgba(0,0,0,0.4);

}

/* анімація */

.fade{

animation:fadeUp 0.8s ease;

}

@keyframes fadeUp{

0%{
opacity:0;
transform:translateY(30px);
}

100%{
opacity:1;
transform:translateY(0);
}

}

@keyframes fadePage{

0%{
opacity:0;
}

100%{
opacity:1;
}

}

/* блок ціни */

.price-box{

background:linear-gradient(135deg,#27c6cc,#1d9fa5);

padding:20px;

border-radius:16px;

text-align:center;

margin-bottom:25px;

box-shadow:0 10px 30px rgba(0,0,0,0.5);

}

.price-main{

font-size:32px;

font-weight:bold;

color:white;

}

.price-label{

margin-top:5px;

font-size:14px;

opacity:0.9;

}

.card{
animation:cardAppear 0.8s ease;
}

@keyframes cardAppear{

0%{
opacity:0;
transform:translateY(40px);
}

100%{
opacity:1;
transform:translateY(0);
}

}